/* .wrapper {
    opacity: 90%;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #1509ba, #ff90e9, #ffaa17);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 50s ease infinite;
    -z-animation: rainbow 50s ease infinite;
    -o-animation: rainbow 50s ease infinite;
    animation: rainbow 50s ease infinite;
} */

/* @-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
} */

.nav {
    position: fixed;
    top: 6%;
    left: 20%;
    font-family: 'Bahnschrift', sans-serif;
    color: white;
    font-size: xx-large;
  }

body {
    background: linear-gradient(0deg, #5675de, #ff90e9, #6bec40, #d6df57, #ffaa17);
    background-size: 400% 400%;
    animation: gradient 15s infinite;
}

div {
    text-align: center;
    padding: 1%;
}

@media only screen and (max-width: 600px) {
    .nav{
        font-size: large;
        left: 5%;
    }
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}